/*main styles*/

/* відміна підкреслення у посилання */
.link{
    text-decoration: none;
}

/* відміна маркерів*/
.list {
    list-style: none;
}

body {
    font-family: "raleway";
}



/* Header*/

.menu-link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.29;
    letter-spacing: 0.02em;
    color: #212121;

}

.menu-link:hover,
.menu-link:focus {
    color: #2196F3;
}