/*main styles*/

/* відміна підкреслення у посилання */
a {
    text-decoration: none;
}

/* відміна маркерів*/
li {
    list-style-type: none;
}


body {
    font-family: 'roboto','rileway'; 
    
}

/* Header*/

.header {
    display: flex;
}

.web-studio {
position: absolute;
    width: 145px;
    height: 31px;
    left: 215px;
    top: 24px;
    font-weight: 700;
        font-size: 26px;
        line-height: 31px;
        color: #000000;
        /* identical to box height */
     
}

.word-web {
    font-family: Raleway;
    color: #2196F3;
    font-weight:700;
    font-size: 26px;
}

.navigation-links {
    display: flex;
    font-weight: 500;
    font-size: 14px;
    line-height:  16px;
    letter-spacing: 0.02em;
    color: #212121;
    margin-top: 32px;
    margin-bottom: 32px;
}

.nav-studio-style {
    position: absolute;
        width: 49px;
        height: 16px;
        left: 453px;
        top: 32px;
        font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;

color: #212121;

}

.nav-portfolio-style {
    position: absolute;
        width: 76px;
        height: 16px;
        left: 552px;
        top: 32px;
        font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            letter-spacing: 0.02em;
        
            color: #2196F3;

}
.nav-contacts-style {
    position: absolute;
        width: 68px;
        height: 16px;
        left: 679px;
        top: 32px;
        font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            letter-spacing: 0.02em;
        
            color: #212121;
}

.mail-style {
position: absolute;
    width: 135px;
    height: 16px;
    left: 1078px;
    top: 32px;
    font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
    
        color: #757575;
}

.tel-style {
position: absolute;
    width: 122px;
    height: 16px;
    left: 1263px;
    top: 32px;
    font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
    
        color: #757575;
}